<div class="container">
  <p class="at-prod-subtitle-1">Habilidades</p>
  <div class="at-radius-m at-shadow-md card">
    <form [formGroup]="form" (ngSubmit)="save($event)">
      <div class="row">
        <div class="col c-6">
          <div class="form-field">
            <at-form-field [appearance]="'standard'" [theme]="'primary'">
              <div atLabel class="at-prod-body-1">Habilidad</div>
              <input type="text" atInput formControlName="ability" class="at-prod-body-1">
              <span atSupport class="error" *ngIf="form.get('ability').errors && form.get('ability').touched">Campo obligatorio</span>
            </at-form-field>
          </div>
        </div>
        <div class="col c-6">
          <div class="form-field">
            <at-form-field [appearance]="'standard'" [theme]="'primary'">
              <div atLabel class="at-prod-body-1">Porcentaje</div>
              <input type="number" atInput formControlName="percentage" class="at-prod-body-1">
              <span atSuffix class="at-prod-body-1">%</span>
              <div atSupport class="error" *ngIf="form.get('percentage').errors && form.get('percentage').touched">
                <span *ngIf="form.get('percentage').errors.required">Campo obligatorio</span>
                <span *ngIf="form.get('percentage').errors.min">El valor debe ser mayor a 0</span>
                <span *ngIf="form.get('percentage').errors.max">El valor debe ser menor o igual a 100</span>
              </div>
            </at-form-field>
          </div>
        </div>
      </div>
      <div class="right">
        <button type="submit" class="at-btn at-btn-m at-btn-filled-tertiary">Agregar</button>
      </div>
    </form>
    <div class="tags">
      <div class="tag" *ngFor="let ability of info.abilities">
        <at-tag [rounded]="true" [color]="'tertiary-40'">{{ability.ability}} - {{ability.percentage}}%</at-tag>
        <button class="at-btn at-btn-s at-btn-text-red" (click)="deleteAbility(ability)">
          <at-icon name="circle-cross" [size]="'1x'"></at-icon>
        </button>
      </div>
    </div>
  </div>
</div>
