<div class="container">
  <p class="at-prod-subtitle-1">Escolaridad</p>
  <div class="at-radius-m at-shadow-md card">
    <form [formGroup]="form" (ngSubmit)="save($event)">
      <div class="row">
        <div class="col c-6">
          <div class="form-field">
            <at-form-field [appearance]="'standard'" [theme]="'primary'">
              <div atLabel class="at-prod-body-1">Escuela</div>
              <input type="text" atInput formControlName="school" class="at-prod-body-1">
              <span atSupport class="error" *ngIf="form.get('school').errors && form.get('school').touched">Campo obligatorio</span>
            </at-form-field>
          </div>
        </div>
        <div class="col c-6">
          <div class="form-field">
            <at-form-field [appearance]="'standard'" [theme]="'primary'">
              <div atLabel class="at-prod-body-1">Especialidad</div>
              <input type="text" atInput formControlName="specialty" class="at-prod-body-1">
            </at-form-field>
          </div>
        </div>
        <div class="col c-6">
          <div class="form-field">
            <at-form-field [appearance]="'standard'" [theme]="'primary'">
              <div atLabel class="at-prod-body-1">Fecha de inicio</div>
              <input type="month" atInput formControlName="initialDate" class="at-prod-body-1">
              <span atSupport class="error" *ngIf="form.get('initialDate').errors && form.get('initialDate').touched">Campo obligatorio</span>
            </at-form-field>
          </div>
        </div>
        <div class="col c-6">
          <div class="form-field">
            <at-form-field [appearance]="'standard'" [theme]="'primary'">
              <div atLabel class="at-prod-body-1">Fecha de termino</div>
              <input type="month" atInput formControlName="endDate" class="at-prod-body-1">
            </at-form-field>
          </div>
        </div>
      </div>
      <div class="right">
        <button type="submit" class="at-btn at-btn-m at-btn-filled-tertiary">Agregar</button>
      </div>
    </form>
    <div class="items">
      <div class="item" *ngFor="let school of info.scholarship">
        <div class="info">
          <p class="at-prod-body-1 bold">{{school.school}}</p>
          <p class="at-prod-body-2">{{!school.initialDate}} - {{(!school.endDate) ? 'a la fecha' : school.endDate}}</p>
        </div>
        <button class="at-btn at-btn-m at-btn-text-red">
          <at-icon name="circle-cross" [size]="'1.5x'" (click)="deleteSchool(school)"></at-icon>
        </button>
      </div>
    </div>
  </div>
</div>
