<div class="content">
  <!-- contenedor central -->
  <div class="container center-column">
    <!-- logo -->
    <img src="assets/images/logo-at-color.png" alt="Agile Thought Digital" class="logo">
    <!--Classes contenedor-->
    <div class="card-profile at-radius-m at-shadow-md">
      <!-- imagen foto de perfil -->
      <img src="assets/images/fotoperfil.jpg" alt="" class="at-radius-xl profile">
      <!-- información -->
      <p class="at-prod-h2">Cristian Amauri Chavero Díaz</p>
        <p class="at-prod-subtitle-1">Consultor Jr.</p>
        <p class="at-prod-body-2 justify">{{(info.Descripcion.length > 180) ? (info.Descripcion.substr(0, 180) + '...') : info.Descripcion}}</p>
        <a href="/cv" class="at-btn at-btn-m at-btn-filled-tertiary at-prod-body-2">Saber más</a>
        <div class="social-media">
          <a href="{{info.facebook}}" class="facebook at-radius-xl" target="_blank">
            <img src="assets/images/facebook.svg" alt="">
          </a>
          <a href="{{info.linkedin}}" class="linkedin at-radius-xl" target="_blank">
            <img src="assets/images/linkedin.svg" alt="">
          </a>
          <a href="{{info.github}}" class="github at-radius-xl" target="_blank">
            <img src="assets/images/github.svg" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
